{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <section class="col s12">
                <header class="hidden title">
                    <h2>Thesaurus types</h2>
                </header>
                <div>
                    <ul class="row thesaurus-elements">
                    {% for item in codes  %}
                        <li class="col s12 m6 l4 ">
                            <a href="{{ path('thesaurus_type', {'content' : item.content}) }}">{{ item.title }}</a>
                            <a href="{{ path('admin_code_edit' , {'codeId' : item.codeId}) }}">{% if is_granted('ROLE_ADMIN') %}
                                <i class="material-icons tiny lightgrey">edit</i>
                            {% endif %}</a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </section>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/editor/thesaurus/searchApp.js') }}"></script>
{% endblock %}

