{% extends "base.html.twig" %}

{% block javascripts %}

    <style>
        header h1 a{
            font-size:0.4em;
            vertical-align: text-top;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="container">

        <div class="card row">

            <header class="col s12 row">
                <h1 class="center">{{ thesaurus.title }} <a href="{{ path('updateThesaurus', {'id' : thesaurus.id }) }}">modifier</a></h1>

            </header>

            <div class="col s4">
                <h2>Type</h2>
                <p><a href="{{ path('thesaurus_type', {'content' : thesaurus.code.content }) }}">{{ thesaurus.code.title }}</a></p>
            </div>

            <div class="col s4">
                <h2>Definition</h2>
                <p>{{ thesaurus.definition }}</p>
            </div>

            <div class="col s4">
                <h2>Example</h2>
                {{ thesaurus.example }}
            </div>

        </div>

        <!-- numbers -->
        {% if numbers|length > 0 %}
        <div class="card row">
            <div class="col s12">
                <h2>List of the {{ numbers|length }} number(s) with {{ thesaurus.code.title }} <i>{{ thesaurus.title }}</i></h2>
                <ul class="row">
                {% for item in numbers  %}
                    <li class="col s3"><a href="{{ path('number' , {'id' : item.id}) }}">{{ item.title }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        <!-- films -->
        {% if films|length > 0 %}
        <div class="card row">
            <div class="col s12">
                <h2>List of the {{ films|length }} film(s) with {{ thesaurus.code.title }} <i>{{ thesaurus.title }}</i></h2>
                <ul class="row">
                    {% for item in films  %}
                        <li class="col s3"><a href="{{ path('film' , {'filmId' : item.filmId}) }}">{{ item.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        <!-- songs -->
        {% if songs|length > 0 %}
            <div class="card row">
                <div class="col s12">
                    <h2>List of the {{ songs|length }} song(s) with {{ thesaurus.code.title }} <i>{{ thesaurus.title }}</i></h2>
                    <ul class="row">
                        {% for item in songs  %}
                            <li class="col s3"><a href="{{ path('song' , {'songId' : item.songId}) }}">{{ item.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}

        <!-- stagenumbers -->
        {% if stagenumbers|length > 0 %}
            <div class="card row">
                <div class="col s12">
                    <h2>List of the {{ stagenumbers|length }} stage number(s) with {{ thesaurus.code.title }} <i>{{ thesaurus.title }}</i></h2>
                    <ul class="row">
                        {% for item in stagenumbers  %}
                            <li class="col s3"><a href="{{ path('stagenumber' , {'stagenumberId' : item.stagenumberId}) }}">{{ item.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}

    </div>


{% endblock %}