{% extends 'base.html.twig' %}

{% block body %}
    <h1>Number</h1>

    <table>
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ number.title }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ number.type }}</td>
            </tr>
            <tr>
                <th>Begintc</th>
                <td>{{ number.beginTc }}</td>
            </tr>
            <tr>
                <th>Endtc</th>
                <td>{{ number.endTc }}</td>
            </tr>
            <tr>
                <th>Length</th>
                <td>{{ number.length }}</td>
            </tr>
            <tr>
                <th>Begin</th>
                <td>{{ number.begin }}</td>
            </tr>
            <tr>
                <th>Ending</th>
                <td>{{ number.ending }}</td>
            </tr>
            <tr>
                <th>Spectators</th>
                <td>{{ number.spectators }}</td>
            </tr>
            <tr>
                <th>Musician</th>
                <td>{{ number.musician }}</td>
            </tr>
            <tr>
                <th>Lyrics</th>
                <td>{{ number.lyrics }}</td>
            </tr>
            <tr>
                <th>Dance</th>
                <td>{{ number.dance }}</td>
            </tr>
            <tr>
                <th>Tempo</th>
                <td>{{ number.tempo }}</td>
            </tr>
            <tr>
                <th>Makeup</th>
                <td>{{ number.makeup }}</td>
            </tr>
            <tr>
                <th>Shots</th>
                <td>{{ number.shots }}</td>
            </tr>
            <tr>
                <th>Order</th>
                <td>{{ number.order }}</td>
            </tr>
            <tr>
                <th>Integration2</th>
                <td>{{ number.integration2 }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ number.weight }}</td>
            </tr>
            <tr>
                <th>Structure</th>
                <td>{{ number.structure }}</td>
            </tr>
            <tr>
                <th>Diegetic</th>
                <td>{{ number.diegetic }}</td>
            </tr>
            <tr>
                <th>Source</th>
                <td>{{ number.source }}</td>
            </tr>
            <tr>
                <th>Numberid</th>
                <td>{{ number.numberId }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('number_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('number_edit', { 'id': number.numberId }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
