<article id="films" class="card row">

    <div>

        <h2>All films linked to {{ person.name }}</h2>

        {% for item in filmsPerson  %}
            <div class="col s2 card film">
                <a href="{{ path('film', {'filmId' : item.filmId}) }}">
                    <h4 class="center">{{ item.title }} ({{ item.released }})</h4>
                    <img class="poster col s12" src="http://img.omdbapi.com/?i={{ item.imdb }}&apikey=1733f6a&h=300" alt="poster" class="poster">
                </a>
            </div>
        {% endfor %}

    </div>


    {% if person.numbersChoregrapher|length > 0 %}
        <div class="row">
            <article class="col s12">
                <h2>Film(s) where {{ person.name }} is choreographer of at least one number</h2>

                {% set tabChoreo = [] %}
                {% for item in person.numbersChoregrapher  %}
                    {% if item.film.filmId not in tabChoreo %}
                    {% set tabChoreo = tabChoreo|merge([item.film.filmId]) %}
                    <div class="col s2 card film">
                        <a href="{{ path('film', {'filmId' : item.film.filmId}) }}">
                            <h4 class="center">{{ item.film }} ({{ item.film.released }})</h4>
                            <img class="poster col s12" src="http://img.omdbapi.com/?i={{ item.film.idImdb }}&apikey=1733f6a&h=300" alt="poster" class="poster">
                        </a>
                    </div>
                    {% endif %}
                {% endfor %}
            </article>
        </div>
    {% endif %}

    {% if person.numbersArranger|length > 0 %}

        <div class="row">
            <article class="col s12">
                <h2>Film(s) where {{ person.name }} is arranger of at least one number</h2>

                {% set tabArranger = [] %}
                {% for item in person.numbersArranger  %}
                    {% if item.film.filmId not in tabArranger %}
                        {% set tabArranger = tabArranger|merge([item.film.filmId]) %}
                        <div class="col s2 card film">
                            <a href="{{ path('film', {'filmId' : item.film.filmId}) }}">
                                <h4 class="center">{{ item.film }} ({{ item.film.released }})</h4>
                                <img class="poster col s12" src="http://img.omdbapi.com/?i={{ item.film.idImdb }}&apikey=1733f6a&h=300" alt="poster" class="poster">
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </article>
        </div>
    {% endif %}


    {% if person.numbersDirector|length > 0 %}

        <div class="row">
            <article class="col s12">
                <h2>Film(s) where {{ person.name }} is director of at least one number</h2>

                {% set tabDirector = [] %}
                {% for item in person.numbersDirector  %}
                    {% if item.film.filmId not in tabDirector %}
                        {% set tabDirector = tabDirector|merge([item.film.filmId]) %}
                        <div class="col s2 card film">
                            <a href="{{ path('film', {'filmId' : item.film.filmId}) }}">
                                <h4 class="center">{{ item.film }} ({{ item.film.released }})</h4>
                                <img class="poster col s12" src="http://img.omdbapi.com/?i={{ item.film.idImdb }}&apikey=1733f6a&h=300" alt="poster" class="poster">
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </article>
        </div>
    {% endif %}


    {% if person.numbersPerformer|length > 0 %}

        <div class="row">
            <article class="col s12">
                <h2>Film(s) where {{ person.name }} is a performer in at least one number</h2>

                {% set tabPerformer = [] %}
                {% for item in person.numbersPerformer  %}
                    {% if item.film.filmId not in tabPerformer %}
                        {% set tabPerformer = tabPerformer|merge([item.film.filmId]) %}
                        <div class="col s2 card film">
                            <a href="{{ path('film', {'filmId' : item.film.filmId}) }}">
                                <h4 class="center">{{ item.film }} ({{ item.film.released }})</h4>
                                <img class="poster col s12" src="http://img.omdbapi.com/?i={{ item.film.idImdb }}&apikey=1733f6a&h=300" alt="poster" class="poster">
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </article>
        </div>
    {% endif %}


    {% if person.numbersFigurant|length > 0 %}

        <div class="row">
            <article class="col s12">
                <h2>Film(s) where {{ person.name }} doesn't participate in at least one number</h2>

                {% set tabFigurant = [] %}
                {% for item in person.numbersFigurant  %}
                    {% if item.film.filmId not in tabFigurant %}
                        {% set tabFigurant = tabFigurant|merge([item.film.filmId]) %}
                        <div class="col s2 card film">
                            <a href="{{ path('film', {'filmId' : item.film.filmId}) }}">
                                <h4 class="center">{{ item.film }} ({{ item.film.released }})</h4>
                                <img class="poster col s12" src="http://img.omdbapi.com/?i={{ item.film.idImdb }}&apikey=1733f6a&h=300" alt="poster" class="poster">
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </article>
        </div>
    {% endif %}


</article>

