<article id="films" class="card row">

    <h2>All films linked to {{ person.name }}</h2>

    {% for item in filmsPerson  %}
        <div class="col s2 card film">
            <a href="{{ path('film', {'filmId' : item.filmId}) }}">
                <h4 class="center">{{ item.title }} ({{ item.released }})</h4>
                <img class="poster col s12" src="http://img.omdbapi.com/?i={{ item.imdb }}&apikey=1733f6a&h=300" alt="poster" class="poster">
            </a>
        </div>

    {% endfor %}

</article>

