<article class="card row">
    <div class="col s12">

        {% if person.numbersChoregrapher|length > 0 %}
            <div class="row">
                <article class="col s12">
                    <h3>Number(s) where {{ person.name }} is choreographer</h3>

                    {% for item in person.numbersChoregrapher %}
                        <a href="{{ path('number', {'id' : item.id}) }}">{{ item.title }} ({{ item.film }})</a>
                    {% endfor %}
                </article>
            </div>
        {% endif %}

        {% if person.numbersArranger|length > 0 %}
            <div class="row">
                <article class="col s12">
                    <h3>Number(s) where {{ person.name }} is arranger</h3>

                    {% for item in person.numbersArranger %}
                        <a href="{{ path('number', {'id' : item.id}) }}">{{ item.title }} ({{ item.film }})</a>
                    {% endfor %}
                </article>
            </div>
        {% endif %}


        {% if person.numbersDirector|length > 0 %}
            <div class="row">
                <article class="col s12">
                    <h3>Number(s) where {{ person.name }} is director</h3>

                    {% for item in person.numbersDirector %}
                        <a href="{{ path('number', {'id' : item.id}) }}">{{ item.title }} ({{ item.film }})</a>
                    {% endfor %}
                </article>
            </div>
        {% endif %}

        {% if person.numbersPerformer|length > 0 %}
            <div class="row">
                <article class="col s12">
                    <h3>Number(s) where {{ person.name }} is performer</h3>

                    {% for item in person.numbersPerformer %}
                        <a href="{{ path('number', {'id' : item.id}) }}">{{ item.title }} ({{ item.film }})</a>
                    {% endfor %}
                </article>
            </div>
        {% endif %}

        {% if person.numbersPerformer|length > 0 %}
            <div class="row">
                <article class="col s12">
                <h3>Numbers where {{ person.name }} doesn't participate</h3>

                {% for item in person.numbersFigurant %}
                    <a href="{{ path('number', {'id' : item.id}) }}">{{ item.title }} ({{ item.film }})</a>
                {% endfor %}
                </article>
        {% endif %}
        </div>

    </div>

</article>