<div class="container">
<article  class="card row">
    <h2>Average shot length for {{ person.name }}</h2>

    {#<p>Sum of all the length's number where {{ person.name }} is a performer divided by the sum of all the shots of this numbers : <span class="number">{{ sumLengthShot.average|round(2) }}</span> seconds</p>#}

    <p>Average of all the length's number where {{ person.name }} is a performer divided by the average of all the shots of this numbers : <span class="number">{{ avgLengthShot.average|round(2) }}</span> seconds</p>

</article>


<article class="card row">
    <div class="col s12">
        <h2>Ratio performance type</h2>
        <div class="row">

            <div class="col s6">
                <h3>All</h3>
                {% for item in performances  %}
                    {{ item.title }}({{ item.nb }})<br>
                {% endfor %}
            </div>

            <div class="col s6">
                <h3>For {{ person.name }}</h3>
                {% for item in performance  %}
                    {{ item.title }}({{ item.nb }})<br>
                {% endfor %}
            </div>
        </div>
    </div>

</article>

<article class="card row">
    <div class="col s12">
        <h2>Structure</h2>

        <div class="row">
            <div class="col s6">

                <p>Nb structures :  {{ structures_total.total }}</p>

                <h3>All</h3>

                {% for item in structures  %}
                    {{ item.title }}({{ item.nb }})
                {% endfor %}
            </div>

            <div class="col s6">
                <h3>For {{ person.name }}</h3>
                {% for item in structure  %}
                    {{ item.title }}({{ item.nb }})
                {% endfor %}
            </div>
        </div>
    </div>
</article>

{#<article class="card row">#}
    {#<div class="col s12">#}
        {#<h2>Dancing types</h2>#}

        {#<div class="row">#}
            {#<div class="col s12">#}
                {#<h3>For {{ person.name  }}</h3>#}
                {#{% for item in dancing  %}#}
                    {#{{ item.title }}({{ item.nb }})#}
                {#{% endfor %}#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#</article>#}

{#<article class="card row">#}
    {#<div class="col s12">#}
        {#<h2>Musical types</h2>#}

        {#<div class="row">#}
            {#<div class="col s12">#}
                {#<h3>For {{ person.name  }}</h3>#}
                {#{% for item in musical  %}#}
                    {#{{ item.title }}({{ item.nb }})#}
                {#{% endfor %}#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#</article>#}

<article class="card row">
    <div class="col s12">
        <h2>Completeness</h2>

        <div class="row">
            <div class="col s12">
                <h3>For {{ person.name  }}</h3>
                {% for item in completeness  %}
                    {{ item.title }}({{ item.nb }})
                {% endfor %}
            </div>

            <div class="col s12">
                <p>Ratio : {{ (((complete.nb * 100)/completes.nb))|round(1) }}</p>
            </div>
        </div>
    </div>
</article>


{#<article class="card row">#}
    {#<div class="col s12">#}
        {#<h2>Solos</h2>#}

        {#<div class="row">#}
            {#<div class="col s12">#}
                {#<h3>Multiple occurences</h3>#}
                {#<p>Ratio : {{ occurences.nb }} / {{ completOptions.nb }} = {{ ((occurences.nb * 100)/completOptions.nb) }}</p>#}
            {#</div>#}

        {#</div>#}
    {#</div>#}
{#</article>#}

{#<article class="card row">#}
    {#<div class="col s12">#}
        {#<h2>Solos</h2>#}

        {#<div class="row">#}
            {#<div class="col s6">#}
                {#<h3>All</h3>#}

            {#</div>#}

            {#<div class="col s6">#}
                {#<h3>For {{ person.name  }}</h3>#}

            {#</div>#}
        {#</div>#}
    {#</div>#}
{#</article>#}

</div>
