<div class="container">
<article class="card row">
    <div class="col s12">
        <h2>Persons associated to {{ person.name }}</h2>

        <article>
            <h3>Choreographers</h3>

            <div id="choreo_top_list">

                <table class="striped mini-table tablesorter">
                    <thead>
                    <tr>
                        <th>Associated choreographer</th>
                        <th>Amount of numbers related with {{ person.name }}</th>
                    </tr>
                    </thead>
                    <tbody class="list">
                    {% for item in top_associated_choreographers  %}
                        <tr>
                            <td class="choreo_name_top">{{ item.name }}</td>
                            <td class="choreo_total_top">{{ item.total }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>

            <div id="choreo_list">

                <input class="search" placeholder="Search" />

                <table class="striped mini-table tablesorter">
                    <thead>
                    <tr>
                        <th>Associated choreographers</th>
                        <th>Number</th>
                        <th>Film</th>
                    </tr>
                    </thead>
                    <tbody class="list">
                    {% for item in associated_choreographers  %}
                        <tr>
                            <td class="choreo_name">{{ item.name }}</td>
                            <td class="choreo_number"><a href="{{ path('number' ,{'id' : item.id}) }}">{{ item.title }}</a></td>
                            <td class="choreo_film"><a href="{{ path('film' ,{'filmId' : item.filmId}) }}">{{ item.film }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>

        </article>

        <article>
            <h3>Composers</h3>

            <div id="composers_top_list">

                <table class="striped mini-table tablesorter">
                    <thead>
                    <tr>
                        <th>Associated composer</th>
                        <th>Amount of numbers related with {{ person.name }}</th>
                    </tr>
                    </thead>
                    <tbody class="list">
                    {% for item in top_associated_composers  %}
                        <tr>
                            <td class="composer_name_top">{{ item.name }}</td>
                            <td class="composer_total_top">{{ item.total }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>


            <div id="composers_list">

                <input class="search" placeholder="Search" />


                <table class="striped mini-table tablesorter">
                <thead>
                    <tr>
                        <th>Associated composer</th>
                        <th>Song</th>
                        <th>Number</th>
                        <th>Film</th>
                    </tr>
                </thead>
                <tbody class="list">
                {% for item in associated_composers  %}
                    <tr>
                        <td class="composer_name">{{ item.name }}</td>
                        <td class="composer_song">{{ item.song }}</td>
                        <td class="composer_number"><a href="{{ path('number' ,{'id' : item.id}) }}">{{ item.number }}</a></td>
                        <td class="composer_film"><a href="{{ path('film' ,{'filmId' : item.filmId}) }}">{{ item.film }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
            </div>
        </article>

        <article>
            <h3>Lyricists</h3>

            <div id="lyric_top_list">

                <table class="striped mini-table tablesorter">
                    <thead>
                    <tr>
                        <th>Associated lyricist</th>
                        <th>Amount of numbers related with {{ person.name }}</th>
                    </tr>
                    </thead>
                    <tbody class="list">
                    {% for item in top_associated_lyricists  %}
                        <tr>
                            <td class="lyric_name_top">{{ item.name }}</td>
                            <td class="lyric_total_top">{{ item.total }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>

            <div id="lyric_list">

                <input class="search" placeholder="Search" />

                <table class="striped mini-table tablesorter">
                    <thead>
                    <tr>
                        <th>Associated lyricist</th>
                        <th>Song</th>
                        <th>Number</th>
                        <th>Film</th>
                    </tr>
                    </thead>
                    <tbody class="list">
                    {% for item in associated_lyricists  %}
                        <tr>
                            <td class="lyric_name">{{ item.name }}</td>
                            <td class="lyric_song">{{ item.song }}</td>
                            <td class="lyric_number"><a href="{{ path('number' ,{'id' : item.id}) }}">{{ item.number }}</a></td>
                            <td class="lyric_film"><a href="{{ path('film' ,{'filmId' : item.filmId}) }}">{{ item.film }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
        </article>
    </div>
</article>
</div>

{% block javascript %}

    <script src="//listjs.com/assets/javascripts/list.min.js"></script>
    <script>

//        $(function(){
//            $("#tabletest").tablesorter();
//        });

        var options = {
            valueNames: [ { data: ['id'] }, 'choreo_name', 'choreo_number', 'choreo_film' ]
        };

        var choreoList = new List('choreo_list', options);

        var options2 = {
            valueNames: [ 'composer_name', 'composer_song', 'composer_number', 'composer_film' ]
        };

        var composersList = new List('composers_list', options2);

        var options3 = {
            valueNames: [ 'lyric_name', 'lyric_song', 'lyric_number', 'lyric_film' ]
        };

        var lyricList = new List('lyric_list', options3);

        choreoList.search("zzzzzzzzzzzzzzzzzzzzzzzzz");
        composersList.search("zzzzzzzzzzzzzzzzzzzzzzzzz");
        lyricList.search("zzzzzzzzzzzzzzzzzzzzzzzzz");


    </script>


    <script>
        var composer_name = document.getElementsByClassName("composer_name_top");
        console.log(composer_name[2].innerText);
        for (var i = 0; i < composer_name.length; i++) {
            composer_name[i].addEventListener('click', function () {
                if(this.innerText == "Total") {
                    composersList.search("");
                } else {
                    composersList.search(this.innerText);
                }
            });
        }

        var choreo_name = document.getElementsByClassName("choreo_name_top");
        console.log(choreo_name[2].innerText);
        for (var i = 0; i < choreo_name.length; i++) {
            choreo_name[i].addEventListener('click', function () {
                if(this.innerText == "Total") {
                    choreoList.search("");
                } else {
                    choreoList.search(this.innerText);
                }
            });
        }

        var lyric_name = document.getElementsByClassName("lyric_name_top");
        console.log(lyric_name[2].innerText);
        for (var i = 0; i < lyric_name.length; i++) {
            lyric_name[i].addEventListener('click', function () {
                if(this.innerText == "Total") {
                    lyricList.search("");
                } else {
                    lyricList.search(this.innerText);
                }
            });
        }
        
    </script>
{% endblock %}