<div class="container">

    <article  class="card row">
        <h2>Average shot length for {{ person.name }}</h2>

        {#<p>Sum of all the length's number where {{ person.name }} is a performer divided by the sum of all the shots of this numbers : <span class="number">{{ sumLengthShot.average|round(2) }}</span> seconds</p>#}

        <p>Average of all the length's number where {{ person.name }} is a performer divided by the average of all the shots of this numbers : <span class="number">{{ avgLengthShot.average|round(2) }}</span> seconds</p>

    </article>

    <article class="card row">


        <h2>Presence of {{ person.name }} in numbers</h2>

        <article>

            <p> Number of films where Fred Astaire is involved : <span class="number">{{ lengthTotal|length}}</span></p>


                {#<h3 class="title-mini">List of films chronologically sorted by release date with the duration in seconds of all numbers (even the numbers where {{ person.name }} is not present)</h3>#}

            <div id="presence_list">

                <input class="search" placeholder="Search" />

                <table class="striped tablesorter mini-table">
                    <thead>
                        <tr>
                            <th>Film</th>
                            <th>Released</th>
                            <th>Total number duration (in sec)</th>
                            <th>Total number duration where {{ person.name }} is involved (in sec)</th>
                            <th>Percentage of numbers where {{ person.name }} is involved </th>
                        </tr>
                    </thead>
                    <tbody class="list">
                {% for item in lengthTotal  %}
                    <tr>
                        <td class="presence_film"><a href="{{ path('film' ,{'filmId' : item.filmId}) }}">{{ item.title }}</a></td>
                        <td class="presence_released">{{ item.released }}</td>
                        <td class="presence_total_duration">{{ item.total }}</td>
                        <td class="presence_person_duration">{{ lengthTotalForPerson[loop.index0].total }}</td>
                        <td class="presence_ratio">{{ ((ratio[loop.index0].one / ratio[loop.index0].all)*100)|round() }}%</td>
                {% endfor %}
                    </tbody>
                </table>
            </div>

        </article>

        {#<article class="s6 col">#}
        {#<h3 class="title-mini">List of films chronologically sorted by release date with the duration in seconds of all numbers (even the numbers where {{ person.name }} is present)</h3>#}

        {#<table class="striped tablesorter mini-table">#}
            {#<thead>#}
            {#<tr>#}
                {#<th>Length of numbers where {{ person.name }} is present</th>#}
                {#<th>Date</th>#}
                {#<th>Total (sec)</th>#}
            {#</tr>#}
            {#</thead>#}
            {#<tbody>#}
                {#{% for item in lengthTotalForPerson  %}#}
                    {#<tr>#}
                        {#<td>{{ item.title }}</td>#}
                        {#<td>{{ item.released }}</td>#}
                        {#<td>{{ item.total }}</td></tr>#}
                {#{% endfor %}#}
            {#</tbody>#}
        {#</table>#}


        {#<h3 class="title-mini">Ratio performer’s presence duration / total duration of numbers for each film</h3>#}


            {#<table class="striped tablesorter mini-table">#}
                {#<thead>#}
                {#<tr>#}
                    {#<th>Title</th>#}
                    {#<th>Date</th>#}
                    {#<th>Presence</th>#}
                {#</tr>#}
                {#</thead>#}
                {#<tbody>#}
                {#{% for item in ratio  %}#}
                    {#<tr>#}
                        {#<td>{{ item.title }}</td>#}
                        {#<td>{{ item.released }}</td>#}
                        {#<td>{{ ((item.one / item.all)*100)|round()  }}%</td></tr>#}
                {#{% endfor %}#}
                {#</tbody>#}
            {#</table>#}

        {#</article>#}

</article>
</div>

{% block javascript %}

    <script src="//listjs.com/assets/javascripts/list.min.js"></script>
    <script>

        var options = {
            valueNames: ['presence_film', 'presence_released', 'presence_total_duration', 'presence_person_duration', 'presence_ratio' ]
        };

        var presenceList = new List('presence_list', options);

    </script>
{% endblock %}