{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #recherche{
            margin-top: 50px;
        }
        .billet{
            border : 1px solid red;
            margin: 10px;
            padding: 15px;
            border-radius: 3px;
        }
    </style>

{% endblock %}

{% block body %}

    <section class="container-fluid">

        <div class="row" id="recherche">

            <div class="col s5">

                <form class="col s12">


                    {#{% for item in sources %}#}
                        {#<p>#}
                            {#<input type="checkbox" id="{{ item.title|e('html') }}" />#}
                            {#<label for="{{ item.title|e('html') }}">{{ item.title }}</label>#}
                        {#</p>#}

                    {#{% endfor %}#}


                    <div class="input-field col s12">
                        <select multiple id="sources">
                            <option value="" disabled selected>Select a performance</option>
                            {% for item in sources %}
                                <option value="{{ item.title|e('html') }}">{{ item.title|e('html') }}</option>
                            {% endfor %}
                        </select>
                        <label>Optgroups</label>
                    </div>

                    <div class="input-field col s12">
                        <select id="performance">
                            <option value="" disabled selected>Select a performance</option>
                            {% for item in performances %}
                                <option value="{{ item.title|e('html') }}">{{ item.title|e('html') }}</option>
                            {% endfor %}
                        </select>
                        <label>Performances (1 choice)</label>
                    </div>


                </form>
            </div>

            <div class="col s7">
                <div class="s12 card" id="resultat"></div>
            </div>

        </div>

    </section>


{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script>

        var data = [
            {% for number in numbers  %}
            {
                'id' : {{ number.numberId }},
                'title' : '{{ number.title() }}',
                'performance' : '{{ number.performanceThesaurus }}',
                'sources' : [ {% for source in number.sourceThesaurus %}'{{source.title}}'{% if loop.last %}{% else %},{% endif %}{% endfor %} ],
                'filmId' : '{{ number.film.filmId }}',
                'film' : '{{ number.film.title }}',
                'released' : {{ number.film.released }},
                'choreographers' : [ {% for person in number.choregraphers %}'{{person.name|json_encode()}}'{% if loop.last %}{% else %},{% endif %}{% endfor %} ],
                'performers' : [ {% for person in number.performers %}'{{person.name|json_encode()}}'{% if loop.last %}{% else %},{% endif %}{% endfor %} ],
                'songs' : [ {% for item in number.song %}'{{item.title|json_encode()}}'{% if loop.last %}{% else %},{% endif %}{% endfor %} ]
            }
            {% if loop.last %}{% else %},{% endif %}
            {% endfor %}

        ];


        var _performance = '';
        var sources = '';
        var _source1 = '';
        var _source2 = '';
        var _compteur = '';

        function filter(_performance, _source1, _source2){

            $("#resultat").html('');
            var billets = '';
            _compteur = 0;

            if(_performance == null){
                console.log = null;
            }

            $.grep( data, function( n, i ) {

//                console.log("source1 = "+_source1+" & n.sources = "+n.sources);
                if (n.performance === _performance && n.sources[0] == _source1 && n.sources[1] == _source2){

                    billets += "<div class='billet'><a href='/number/"+n.id+"'><h2>"+n.title+"</h2></a><a href='/film/id/"+n.filmId+" '><h3>"+n.film+" ("+n.released+")"+"</h3></a><p>"+n.performance+"</p><p>Sources : "+n.sources[0]+", "+n.sources[1]+"</p></div>";
                    _compteur ++;

                    infos = "<div>Nombre de résultats : "+_compteur+"</div>";

                    $("#resultat").html(infos+billets);

                }

            });
        }


        $("select").change(function(){

            sources = $("#sources").val();
            _performance = $('#performance').val();

            _source1 = sources[0];
            _source2 = sources [1];

//            console.log("source1 = "+_source1);

            if ($('#sources').val().length >2 ) {
                alert('You can only choose 2!');
            } else {
                filter(_performance, _source1, _source2);
            }

        })

        $(document).ready(function() {
            Materialize.updateTextFields();
            $('select').material_select();

        });

    </script>

{% endblock %}


