<article class="card row">
    <div class="col s12">

        <h2>Temps de présence du performer dans les numbers </h2>


        <p>Nombre de films avec des numbers où est présent(e) {{ person.name|capitalize }}: <span class="number">{{ lengthTotal|length}}</span></p>


        <h3>Liste des films ordonnés chronologiquement par film.released avec le total en seconde de la durée de tous les numbers du film (même ceux où {{ person.name }} n'est pas présent(e))</h3>


        {% for item in lengthTotal  %}
            <p>{{ item.title }}, total = {{ item.total }}</p>
        {% endfor %}

        <h3>Liste des films ordonnés chronologiquement par film.released avec le total en seconde de la durée des numbers du film où {{ person.name }} est présent(e)</h3>

        {% for item in lengthTotalForPerson  %}
            <p>{{ item.title }} : {{ item.total }}</p>
        {% endfor %}

        <h3>Ratio de la durée d'un performer / durée totale des numbers pour chaque film </h3>

        <p>Temps de présence dans les numbers de chaque film de {{ person.name }} (= ratio de number où {{ person.name }} est présent(e)</p>
        {% for item in ratio  %}
            <p>{{ item.title }}({{ item.released }}) : {{ ((item.one / item.all)*100)|round()  }}%</p>
        {% endfor %}

    </div>
</article>