{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .small-h1{
            font-size: 0.8em;
        }
    </style>
{% endblock %}

{% block body %}

    <section class="container">

        <article class="row">

            <h1>{{ person.name }} <span class="small-h1">{% if is_granted("ROLE_EDITOR") %} - <a href="{{ path('person_edit' , {"personId" : person.personId}) }}">edit</a>{% endif %}</span></h1>
        </article>

        <article class="card row">
            <div class="col s12">
            <p>First name : {{ person.firstname }}</p>
            <p>Last name : {{ person.lastname }}</p>
            <p>Gender : {{ person.gender }}</p>
            <p>Race : {{ person.race }}</p>
            </div>
        </article>

        <article class="card row">
            <div class="col s12">
                <h2>Numbers</h2>

                <h3>Choregrapher</h3>

                {% for item in person.numbersChoregrapher %}
                    <span class="chip">{{ item.title }} ({{ item.film }})</span>
                {% endfor %}

                <h3>Arranger</h3>

                {% for item in person.numbersArranger %}
                    <span class="chip">{{ item.title }} ({{ item.film }})</span>
                {% endfor %}

                <h3>Director</h3>

                {% for item in person.numbersDirector %}
                    <span class="chip">{{ item.title }} ({{ item.film }})</span>
                {% endfor %}

                <h3>Performer</h3>

                {% for item in person.numbersPerformer %}
                    <span class="chip">{{ item.title }} ({{ item.film }})</span>
                {% endfor %}

                <h3>Numbers where s.he doesn't participate</h3>

                {% for item in person.numbersFigurant %}
                    <span class="chip">{{ item.title }} ({{ item.film }})</span>
                {% endfor %}
            </div>
        </article>
    </section>

{% endblock %}