{% extends 'base.html.twig' %}

{% block fos_user_content %}{% endblock %}
{% block stylesheets %}

{{parent()}}


{% endblock %}


{% block body %}


  <section class="container">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

      {% if myNumbers|length > 0  %}
        <h2>My numbers</h2>

        <table class="striped">
          <tr>
            <th>number</th>
            <th>title</th>
            <th>outlines</th>
            <th>structure</th>
            <th>shots</th>
            <th>performers</th>
            <th>backstage</th>
            <th>themes</th>
            <th>tone</th>
            <th>dance</th>
            <th>music</th>
            <th>reference</th>
            <th>director</th>
            <th>edit</th>
            <th>finish</th>
          </tr>
          {% for number in myNumbers  %}
            <tr>
              <td>{{ number.title }}</td>
              <td>{% if number.completeTitle %}<i class="material-icons tiny green-text">done</i>{% else %}<i class="material-icons tiny red-text">not_interested</i>{% endif %}</td>
              <td>{% if number.completeTc %}<i class="material-icons tiny green-text">done</i>{% else %}<i class="material-icons tiny red-text">not_interested</i>{% endif %}</td>
              <td>{% if number.completeStructure %}<i class="material-icons tiny green-text">done</i>{% else %}<i class="material-icons tiny red-text">not_interested</i>{% endif %}</td>
              <td>{% if number.completeShots %}<i class="material-icons tiny green-text">done</i>{% else %}<i class="material-icons tiny red-text">not_interested</i>{% endif %}</td>
              <td>{% if number.completePerformance %}<i class="material-icons tiny green-text">done</i>{% else %}<i class="material-icons tiny red-text">not_interested</i>{% endif %}</td>
              <td>{% if number.completeBackstage %}<i class="material-icons tiny green-text">done</i>{% else %}<i class="material-icons tiny red-text">not_interested</i>{% endif %}</td>
              <td>{% if number.completeTheme %}<i class="material-icons tiny green-text">done</i>{% else %}<i class="material-icons tiny red-text">not_interested</i>{% endif %}</td>
              <td>{% if number.completeMood %}<i class="material-icons tiny green-text">done</i>{% else %}<i class="material-icons tiny red-text">not_interested</i>{% endif %}</td>
              <td>{% if number.completeDance %}<i class="material-icons tiny green-text">done</i>{% else %}<i class="material-icons tiny red-text">not_interested</i>{% endif %}</td>
              <td>{% if number.completeMusic %}<i class="material-icons tiny green-text">done</i>{% else %}<i class="material-icons tiny red-text">not_interested</i>{% endif %}</td>
              <td>{% if number.completeReference %}<i class="material-icons tiny green-text">done</i>{% else %}<i class="material-icons tiny red-text">not_interested</i>{% endif %}</td>
              <td>{% if number.completeDirector %}<i class="material-icons tiny green-text">done</i>{% else %}<i class="material-icons tiny red-text">not_interested</i>{% endif %}</td>
              <td><a href="{{ path('number_edit', {'numberId' : number.numberId }) }}">edit</a></td>
              <td>soon</td>


            </tr>
          {% endfor %}
        </table>
      {% endif %}

    {% endif %}
  </section>

<section class='container'>

<div>
  <p>MC2 database contains <strong>{{films|length}}</strong> films and <strong>{{numbers|length}}</strong> <a
            href="{{ path('numbers') }}">numbers</a>.</p>
</div>

<div class="row">
  <div class="col s9">
    <h2>Find a movie</h2>

    <article>
      <h3>Films with numbers</h3>
      <p>Order by alphabetical order | Order by date</p>
      <ul class="items">
      {% for film in filmsWithNumber %}
        <a href="/film/id/{{film.filmId}}"><li class="btn" >{{film.title}}({{film.released}})</li></a>
        {# [{% for nb in nbNumbers %}{{ nb }}{% endfor %}]#}
      {% endfor %}
      </ul>
    </article>
    
    <article>
      <h3>All movies</h3>
      <p>Order by alphabetical order | Order by date</p>
      <ul class="items">
      {% for film in films %}
        <a href="/film/id/{{film.filmId}}"><li class="btn" >{{film.title}}({{film.released}})</li></a>
      {% endfor %}
      </ul>
    </article>

    <article>
      <h3>List of persons</h3>
      <ul class='items'>
       {% for person in persons %}
        <li class="btn" >{{person.name}}</li>
      {% endfor %}
      </ul>
    </article>
  </div>
  <div class='col s3'>
    <h2>Filters</h2>

    <article>
      <h3>Title</h3>
      <input type="text">
    </article>
    
    <article>
      <h3>Released date</h3>
      <input type="text">
    </article>

    <article>
      <h3>Persons</h3>
      <input type="text">
      <p>Select a particular profession</p>
    </article>

  </div>
</div>

</section>
  

{% endblock %}