{% extends 'base.html.twig' %}

{% block fos_user_content %}{% endblock %}
{% block stylesheets %}

{{parent()}}


{% endblock %}


{% block body %}


  <section class="container">


    <article class="row">

      <div class="col s4">
        <h2>Search a movie</h2>
        <input type="text" id="searchMovie" placeholder ="Write the title of a film (3 characters min)">
      </div>
      <div class="col s8 result card" id="findMovie">
      </div>
    </article>

    <article id="results" class="row">

    </article>

    <article class="myNumbers">

      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

        {% if myNumbers|length > 0  %}

          <h2>My numbers</h2>

          {% if myFilms|length > 1 %}
            {% for item in myFilms %}
              <a class="chip" href="{{ path("myFilm", {"userId" : user, "filmId" : item.film.filmId }) }}">{{ item.film }}</a>
            {% endfor %}
          {% endif %}

          <table id="myNumber" class="striped">
            <tr>
              <th>number</th>
              <th>film</th>
              <th>title</th>
              <th>outlines</th>
              <th>structure</th>
              <th>shots</th>
              <th>performers</th>
              <th>backstage</th>
              <th>themes</th>
              <th>tone</th>
              <th>dance</th>
              <th>music</th>
              <th>references</th>
              <th>complement</th>
              <th>view</th>
              <th>edit</th>
              <th>finish</th>
            </tr>
            {% for number in myNumbers  %}
              <tr>
                <td>{{ number.title }}</td>
                <td>{{ number.film }}</td>
                <td>{% if number.completeTitle == 1 %}<i class="material-icons tiny green-text">done</i>{% elseif number.completeTitle == 2 %}<span class="grey-text">?</span>{% else %}<i class="material-icons tiny red-text">not_interested</i>{% endif %}</td>
                <td>{% if number.completeTc == 1 %}<i class="material-icons tiny green-text">done</i>{% elseif number.completeTc == 2 %}<span class="grey-text">?</span>{% else %}<i class="material-icons tiny red-text">not_interested</i>{% endif %}</td>
                <td>{% if number.completeStructure == 1 %}<i class="material-icons tiny green-text">done</i>{% elseif number.completeStructure == 2 %}<span class="grey-text">?</span>{% else %}<i class="material-icons tiny red-text">not_interested</i>{% endif %}</td>
                <td>{% if number.completeShots == 1 %}<i class="material-icons tiny green-text">done</i>{% elseif number.completeShots == 2 %}<span class="grey-text">?</span>{% else %}<i class="material-icons tiny red-text">not_interested</i>{% endif %}</td>
                <td>{% if number.completePerformance == 1 %}<i class="material-icons tiny green-text">done</i>{% elseif number.completePerformance == 2 %}<span class="grey-text">?</span>{% else %}<i class="material-icons tiny red-text">not_interested</i>{% endif %}</td>
                <td>{% if number.completeBackstage == 1 %}<i class="material-icons tiny green-text">done</i>{% elseif number.completeBackstage == 2 %}<span class="grey-text">?</span>{% else %}<i class="material-icons tiny red-text">not_interested</i>{% endif %}</td>
                <td>{% if number.completeTheme == 1 %}<i class="material-icons tiny green-text">done</i>{% elseif number.completeTheme == 2 %}<span class="grey-text">?</span>{% else %}<i class="material-icons tiny red-text">not_interested</i>{% endif %}</td>
                <td>{% if number.completeMood == 1 %}<i class="material-icons tiny green-text">done</i>{% elseif number.completeMood == 2 %}<span class="grey-text">?</span>{% else %}<i class="material-icons tiny red-text">not_interested</i>{% endif %}</td>
                <td>{% if number.completeDance == 1 %}<i class="material-icons tiny green-text">done</i>{% elseif number.completeDance == 2 %}<span class="grey-text">?</span>{% else %}<i class="material-icons tiny red-text">not_interested</i>{% endif %}</td>
                <td>{% if number.completeMusic == 1 %}<i class="material-icons tiny green-text">done</i>{% elseif number.completeMusic == 2 %}<span class="grey-text">?</span>{% else %}<i class="material-icons tiny red-text">not_interested</i>{% endif %}</td>
                <td>{% if number.completeReference == 1 %}<i class="material-icons tiny green-text">done</i>{% elseif number.completeReference == 2 %}<span class="grey-text">?</span>{% else %}<i class="material-icons tiny red-text">not_interested</i>{% endif %}</td>
                <td>{% if number.completeCost == 1 %}<i class="material-icons tiny green-text">done</i>{% elseif number.completeCost == 2 %}<span class="grey-text">?</span>{% else %}<i class="material-icons tiny red-text">not_interested</i>{% endif %}</td>


                <td><a href="{{path('number', { 'numberId' : number.numberId })}}">view</a></td>
                <td><a href="{{ path('number_edit', {'numberId' : number.numberId }) }}">edit</a></td>
                <td>soon</td>


              </tr>
            {% endfor %}
          </table>
        {% endif %}

      {% endif %}
    </article>

    <article>
      <h2>Number of films by Year</h2>
      <div id="chart_div"></div>
      <p>MC2 database contains <strong>{{films|length}}</strong> films, <strong>{{ filmsWithNumber|length }}</strong> films with numbers and <strong>{{numbers|length}}</strong> <a
                href="{{ path('numbers') }}">numbers</a>.</p>
    </article>


    <article>
      <h2>Films with numbers</h2>
      <p>Order by alphabetical order | Order by date</p>
      <ul class="items">
        {% for film in filmsWithNumber %}
          <a href="/film/id/{{film.filmId}}"><li class="btn" >{{film.title}}({{film.released}})</li></a>
          {# [{% for nb in nbNumbers %}{{ nb }}{% endfor %}]#}
        {% endfor %}
      </ul>
    </article>


    <article>
      <h2>List of persons</h2>
      <ul class='items'>
        {% for person in persons %}
          <li class="btn" >{{person.name}}</li>
        {% endfor %}
      </ul>
    </article>

  </section>
  

{% endblock %}

{% block javascripts %}

  {{ parent() }}
  <script src="{{ asset("assets/vendor/react/react.js") }}"></script>
  <script src="{{ asset("assets/vendor/react/react-dom.js") }}"></script>
  <script src="{{ asset("assets/vendor/babel/browser.min.js") }}"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <script src="{{ asset('js/accueil.js') }}"></script>

  <script>
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {

      var data = new google.visualization.DataTable();
      data.addColumn('number', 'Year');
      data.addColumn('number', 'Number of Numbers');
      data.addColumn('number', 'Number of Films');


      data.addRows([
        {% for item in nbNumbersByYear %}
        [{{ item.released }}, {{ item.nb }}, {{ item.nbFilms }}],
        {% endfor %}

      ]);

      var options = {
        hAxis: {
          title: 'Years'
        },
        vAxis: {
          title: 'Films & Numbers'
        },
      };


      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

      chart.draw(data, options);
    }
  </script>

{% endblock %}