{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #chart_div{
            height: 400px;
        }

        .film{margin-bottom: 1em;}

        .poster{
            height:300px;
        }

        tr{
            line-height: 0.2em;
        }

        #chart_div2{
            height: 400px;
        }

    </style>
{% endblock %}

{% block body %}
    <section class="container">

        <h1>Censored content : {{ myContent.title }}</h1>

        <h2>Studios</h2>

        <p>[camembert comme pour verdict]</p>
        <p>[tableau]</p>

        <table>
            <tr></tr>
            <tr></tr>
        </table>

        <h2>Number genres</h2>

        <p>[tester nuage de mots clés]</p>

        {#{% for genre in genres %}#}
            {#<p>{{ genre.title }} ({{ genre.nb }})</p>#}
        {#{% endfor %}#}
        <div id="chart_div"></div>

        <h2>Dance contents</h2>

        <p>[tester nuage de mots clés]</p>

        <div id="chart_div2"></div>

        <h2>Films</h2>


        <div class="row">
        {% for film in filmsByContent %}
            <div class="col s3">
                <h4>{{ film.title }}</h4>
                <img src="" alt="">
            </div>
        {% endfor %}
        </div>

        {#<h1>PCA verdict {% for item in verdict  %}{{ item.title }}{% endfor %}</h1>#}

        {#<p><span class="number">{{ filmsByVerdict|length }}</span> films / <span class="number">{{ nbFilmsWithVerdict.nb }}</span> studied films.</p>#}

        {#<article>#}
            {#<h2>Studios</h2>#}

            {#<div id="chart_div"></div>#}

            {#<table class="striped">#}
                {#<tr><th>Studio</th><th>Number of studied films</th></tr>#}
                {#{% for studio in nbFilmsWithVerdictByStudio %}#}
                    {#<tr>#}
                        {#<td>{{ studio.title }}</td><td>{{ studio.nb }}</td>#}
                    {#</tr>#}
                {#{% endfor %}#}
            {#</table>#}
        {#</article>#}

        {#<h2>Films</h2>#}

        {#<div class="row">#}
            {#{% for film in filmsByVerdict  %}#}
                {#<a href="">#}
                    {#<div class="col s3 film">#}
                        {#<h4 class="center">{{ film.title }} ({{ film.released }})</h4>#}
                        {#<img class="poster" src="http://img.omdbapi.com/?i={{ film.idImdb }}&apikey=1733f6a&h=300" alt="poster">#}
                    {#</div>#}
                {#</a>#}
            {#{% endfor %}#}
        {#</div>#}

        {#<table class="striped">#}
            {#{% for film in filmsByVerdict  %}#}
                {#<tr>#}
                    {#<td>{{ film.title }}</td>#}
                {#</tr>#}
            {#{% endfor %}#}
        {#</table>#}


    </section>
{% endblock %}


{% block javascripts %}

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Name', 'Occurences'],
                {% for genre in genres %}
                ['{{ genre.title }}', {{ genre.nb }}],
                {% endfor %}
            ]);


            var options = {
                title: 'Ratio',
                pieHole: 0.4,
            };


            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);

            var data2 = google.visualization.arrayToDataTable([
                ['Name', 'Occurences'],
                {% for item in danceContents %}
                ['{{ item.title }}', {{ item.nb }}],
                {% endfor %}
            ]);


            var options = {
                title: 'Ratio',
                pieHole: 0.4,
            };


            var chart2 = new google.visualization.PieChart(document.getElementById('chart_div2'));
            chart2.draw(data2, options);


        }
    </script>

{% endblock %}