{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .donut{
            height: 400px;
        }
        .chip a{
            color:black;
        }

        .card{
            padding:2em;
            height:auto;
        }

        body{
            background: #f7f7f7;
        }

        .parallax-container {
            height: 340px;
        }

    </style>
{% endblock %}

{% block body %}


    <div class="parallax-container">
        <br><br>
        <h1 class="center">Censorship</h1>
        <h1 class="center"><i>Censure</i></h1>
        {#<p class="center white-text">Informations about censorship : verdicts, legion, harrison, etc.</p>#}
        <div class="parallax"><img src="{{ asset('img/42nd-street-poster.jpg') }}"></div>
    </div>

    <section class="container">

        <article class="card">
            <h2>PCA verdict</h2>

                    <p>Production Code Administration verdict on the first version of the script submitted by the producer.
                        These data come out of the PCA collection at the <a href="http://digitalcollections.oscars.org/cdm/landingpage/collection/p15759coll30">Margaret Herrick Library</a>.</p>
                    <p class="center">***</p>
                    <p><i>Avis de l'administration du Code de production (PCA) sur la première soumission du scénario par le producteur.
                          Ces données ont été reportées après consultation des dossiers de censure des films conservés à la <a href="http://digitalcollections.oscars.org/cdm/landingpage/collection/p15759coll30">Margaret Herrick Library</a></i>.</p>

            <p>Number of films with information : <span class="number">{{ nbFilmsWithVerdict.nb }}</span> films</p>

            <div class="espace_kibana"></div>


            <div class="row ">

                <div id="chart_div" class="donut s7 col"></div>
                <div class="col s5">
                    <h3>List of items</h3>
                    {% for item in verdict  %}
                    <span class="chip"><a href="{{ path('censorship_verdict', {'verdict' : item.verdict}) }}">{{ item.verdict }}({{ item.nb }})</a></span>
                {% endfor %}</div>
            </div>

        </article>

        <article class="card">
            <h2>Censored contents</h2>

            <p>Film contents identified as problematic by the PCA (Several contents sometimes for one film and same films as above).</p>
            <p class="center">***</p>
            <p><i>Contenus du film désignés comme problématiques par la PCA. (Plusieurs contenus parfois pour un même film et mêmes films que précédemment).</i></p>

            <p>Censored items : <span class="number">{{ nbFilmsWithCensorship.nb }}</span></p>

            <div class="espace_kibana"></div>

            <div class="row ">

                <div id="chart_div2" class="donut s6 col"></div>
                {#<div class="s6 col">#}
                    {#<table class="striped medium-table tablesorter">#}
                        {#<thead>#}
                        {#<tr>#}
                            {#<th>Name</th>#}
                            {#<th>Definition</th>#}
                        {#</tr>#}
                        {#</thead>#}
                        {#<tbody class="list">#}
                        {#{% for number in numbers  %}#}
                            {#<tr>#}
                                {#<td class="list_number"><a href="{{ path('number', {'id' : number.id}) }}">{{ number.title }}</a></td>#}
                                {#<td class="list_film"><a href="{{ path('film', {'filmId' : number.film.filmId}) }}">{{ number.film.title }}</a></td>#}
                            {#</tr>#}
                        {#{% endfor %}#}
                        {#</tbody>#}
                    {#</table>#}
                {#</div>#}


            </div>

            <div class="raw">
                {% for item in censorship  %}
                    <p class="chip"><a href="{{ path('censorship_content', {'content' : item.title}) }}">{{ item.title }} ({{ item.nb }})</a></p>
                {% endfor %}
            </div>

        </article>


        <article class="card">

            <h2>Legion of Decency</h2>

            <p>Legion of Decency notations</p>

            <p><i>Avis de la ligue de Décence catholique</i></p>

            <p>Number of films with information : <span class="number">{{ nbFilmsWithLegion.nb }}</span> films</p>

            <div class="row ">

                <div id="chart_div3" class="donut s7 col"></div>

                <div class="col s5">
                {% for item in legion  %}
                    <p class="chip"><a href="{{ path('censorship_legion' , {'legion' : item.legion}) }}">{{ item.legion }}({{ item.nb }})</a></p>
                {% endfor %}
            </div>
        </article>


        {#<h2>Harrison</h2>#}
        {#<p>(pb avec l'import, doublons de protestant - à refaire avec la bonne colonne)</p>#}
        {#{% for item in harrison  %}#}
            {#<p>{{ item.harrison }}({{ item.nb }})</p>#}
        {#{% endfor %}#}

        {#<h2>Protestant</h2>#}
        {#{% for item in protestant  %}#}
            {#<p>{{ item.protestant }}({{ item.nb }})</p>#}
        {#{% endfor %}#}

        {#<h2>Board</h2>#}
        {#{% for item in board  %}#}
            {#<p>{{ item.board }}({{ item.nb }})</p>#}
        {#{% endfor %}#}


    </section>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {

            //Donuts verdict
            var data = google.visualization.arrayToDataTable([
                ['Name', 'Occurences'],
                {% for item in verdict  %}
                ['{{ item.verdict }}', {{ item.nb }}],
                {% endfor %}
            ]);


            var options = {
                title: 'PCA verdict',
                pieHole: 0.4,
            };

            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);


            //Donuts Censorship
            var data2 = google.visualization.arrayToDataTable([
                ['Name', 'Occurences'],
                {% for item in censorship  %}
                ['{{ item.title|raw }}', {{ item.nb }}],
                {% endfor %}
            ]);


            var options = {
                title: 'Censored content',
                pieHole: 0.4
            };

            var chart2 = new google.visualization.PieChart(document.getElementById('chart_div2'));
            chart2.draw(data2, options);

            //Donuts censorship
            var data3 = google.visualization.arrayToDataTable([
                ['Name', 'Occurences'],
                {% for item in legion  %}
                ['{{ item.legion }}', {{ item.nb }}],
                {% endfor %}
            ]);


            var options = {
                title: 'Legion of Decency',
                pieHole: 0.4,
            };

            var chart3 = new google.visualization.PieChart(document.getElementById('chart_div3'));
            chart3.draw(data3, options);

        }

    </script>



{% endblock %}

