{% extends "base.html.twig" %}

{% block body %}

    <section class="container">

        <h1>Legion of Decency Grade : {{ myLegion.title }} & {{ type }} : {{ thesaurus.title }}</h1>

        <table class="striped">
            <tr><th>Number</th><th>Film</th></tr>
        {% for item in filmsAndNumbers  %}
            <tr><td>{{ item.number }}</td><td>{{ item.film }}</td></tr>
        {% endfor %}
        </table>

    </section>
{% endblock %}