{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .donut{
            height: 400px;
        }

        .card{
            padding : 30px;
            padding-bottom: 60px;
        }

        body{
            background: #f7f7f7;
        }

        .parallax-container {
            height: 340px;
        }

        .film{
            height:350px;
        }

    </style>
{% endblock %}

{% block body %}
    <section class="container">

        <h1 class="center">Censorship</h1>

        <article class="card">

        <h2 >Films from {{ year }} with {{ legion }} grade</h2>

            <div class="row">
            {% for film in films  %}
                <div class="col s4 film"><h3>{{film.title }}</h3> <img class="poster" src="http://img.omdbapi.com/?i={{ film.idImdb }}&apikey=1733f6a&h=300" alt="poster"></div>
            {% endfor %}
            </div>
        </article>

    </section>

{% endblock %}