{% extends 'base.html.twig' %}

{% block fos_user_content %}{% endblock %}
{% block stylesheets %}

{{parent()}}
 <link rel="stylesheet" href="../../bower_components/Materialize/dist/css/materialize.css">
<link rel="stylesheet" href="../../css/style.css"> 
<script src="../../bower_components/vis/dist/vis.js"></script>
<link href="../../bower_components/vis/dist/vis.css" rel="stylesheet" type="text/css" />

<style>
.items li{
  margin-bottom: 5px;
  background-color:white; 
  color : #CC0000;
  border:  1px solid #CC0000;
}
</style>

{% endblock %}


{% block body %}


<section class='container'>

<div class="row">

 <h1>{{film.title}}</h1>
 <hr>

<article class='col s12 m6'>
  <h2>List of numbers</h2>
   {% for number in numbersOf1Film %}
      <p>
        {{loop.index}} | {{number.title}} | {{number.beginTc}} | {{number.endTc}} 
        <!-- tout le monde a accès au film mais seuls les éditeurs peuvent le modifier -->
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
          <a href="{{path('number_edit', { numberId : number.id })}}">edit</a>
        {% endif %}
      </p> 
  {% endfor %}
<a href="/editor/number/new"><button class="btn teal">Add a number</button></a>
<a href="/editor/number/new"><button class="btn red">Complete</button></a>
</article>

<article class='col s12 m6'> 

  <h2>Lengths</h2>

  <article class="card red accent-2 col s12 m6">
    <div class="card-content white-text center-align">
        <p class="center-align number">{{film.length}} sec</p>
        <p class="center-align number-label">Movie Length</p>
    </div>
  </article>

  <article class="card light-green col s12 m6">
    <div class="card-content white-text center-align">
        <p class="center-align number">{{((film.length)/60)|round}} min</p>
        <p class="center-align number-label">Movie Length</p>
    </div>
  </article>

  <article class="card cyan col s12 m6">
    <div class="card-content white-text center-align">
        <p class="center-align number">   {% for number in numberSumLength %}
      {% if number.total > 0 %}
      {{(number.total/60)|round}} min
      {% else %}
      <p>N/A</p>
      {% endif %}

    {% endfor %}</p>
        <p class="center-align number-label">Sum of all numbers</p>
    </div>
  </article>

  <article class="card amber col s12 m6">
    <div class="card-content white-text center-align">
        <p class="center-align number">{% for number in numberSumLength %}
      
      {% if number.total > 0 %}
      {{((number.total/number.length)*100)|round(2, 'floor') }}%
      {% else %}
      <p>N/A</p>
      {% endif %}

    {% endfor %}</p>
        <p class="center-align number-label">Ratio number/total length</p>
    </div>
  </article>

  <article class="card  deep-orange col s12 m6">
    <div class="card-content white-text center-align">
        <p class="center-align number">{% for number in numberAverageLength %}{{number.average|round}} sec{% endfor %}</p>
        <p class="center-align number-label">Average number length for {{film.title}}</p>
    </div>
  </article>

  <article class="card pink lighten-2 col s12 m6">
    <div class="card-content white-text center-align">
        <p class="center-align number">{% for number in numbersAverageLength %}{{number.average|round}} sec{% endfor %}</p>
        <p class="center-align number-label">Average number length for all the movies</p>
    </div>
  </article>
</article>

<article>
  <h3>Number's distribution</h3>

  <div id="donut">
    <svg style="height:500px;"></svg>
  </div>
</article>

<article>
  <h3>Pictures of numbers</h3>
  <p>Soon...</p>
</article>

<article>
  <h3>Persons linked</h3>
  {% for person in persons1Film %}
    {{person.personId}}
  {% endfor %}

</article>

<article>
  <h3>Graphe/ Timeline</h3>
  <div id="visualization"></div>
</article>

</div>



</section>
  

  <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>  

  <script src="{{ asset('bower_components/jquery/dist/jquery.js') }}"></script>

  <!-- Materialize -->
  <script type="text/javascript" src="../../bower_components/Materialize/js/parallax.js"></script>


  <!-- D3.JS -->
  <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="../../bower_components/nvd3/build/nv.d3.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.com/libraries/Chart.js"></script>
  <link rel="stylesheet" href="../../bower_components/nvd3/build/nv.d3.css">

{#  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> #}

  <script src="{{ asset('js/mc2.js') }}"></script>

  <!-- Timeline -->
  <script type="text/javascript">
  // DOM element where the Timeline will be attached
  var container = document.getElementById('visualization');


  //title, begin-tc, ending-tc
  var items = new vis.DataSet([
    {% for number in numbersOf1Film %}
    {id: {{loop.index}}, content: '{{number.title}}', start: {{number.beginTc}}, end: {{number.endTc}}},
    {% endfor %}
  ]);

  // Configuration for the Timeline
  var options = {};

  // Create a Timeline
  var timeline = new vis.Timeline(container, items, options);

  nv.addGraph(function() {
        var chart = nv.models.pieChart()
            .x(function(d) { return d.label })
            .y(function(d) { return d.value })
            .showLabels(true)     //Display pie labels
            .labelThreshold(.05)  //Configure the minimum slice size for labels to show up
            .labelType("percent") //Configure what type of data to show in the label. Can be "key", "value" or "percent"
            .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
            .donutRatio(0.35)     //Configure how big you want the donut hole size to be.
            ;
          d3.select("#donut svg")
              .datum(numberLengthData ())
              .transition().duration(350)
              .call(chart);

        return chart;
      });

  function numberLengthData() {
  return  [
      {% for number in numbersOf1Film %}
          {"label" : "{{number.title}}",
          "value" : "{{number.length}}"},
      {% endfor %}
    ];

  //Timeline 2

  // nv.addGraph(function() {  
  //   var chart = nv.models.bulletChart();

  //   d3.select('#chart svg')
  //       .datum(exampleData())
  //       .transition().duration(1000)
  //       .call(chart);

  //   return chart;
  // });


  // function exampleData() {
  //   return {
  //     "title":"Revenue",    //Label the bullet chart
  //     "subtitle":"US$, in thousands",   //sub-label for bullet chart
  //     "ranges":[150,225,300],  //Minimum, mean and maximum values.
  //     "measures":[220],    //Value representing current measurement (the thick blue line in the example)
  //     "markers":[250]      //Place a marker on the chart (the white triangle marker)
  //   };
  // }

}

</script>


{% endblock %}