{% extends 'editor/base.html.twig' %}

{% block fos_user_content %}{% endblock %}
{% block stylesheets %}

<link rel="stylesheet" href="../../../../bower_components/Materialize/dist/css/materialize.css">
<link rel="stylesheet" href="../../../../css/style.css"> 

<style>
.items li{
  margin-bottom: 5px;
  background-color:white; 
  color : #CC0000;
  border:  1px solid #CC0000;
}
h2{
	font-size : 1.5em;
}
h3{
	font-size: 1.2em;
}

article{
	border-top: 1px solid #CC0000;
	height: 250px;
	overflow :auto;
}
</style>

{% endblock %}


{% block body %}


<section class='container'>

<div class="row">
 <h1>{{number.title}} ({{number.film.title}})</h1>

<p><a href="/editor">return to Editor front page</a></p>

<article class="col s4">

	<h2>General information</h2>

	<ul>
		<li>Title : {{number.title}}</li>
	</ul>

	{{ form_start(form) }}
{# 	{{ form_widget(form) }} #} 
 	{{ form_errors(form) }}
 	{{ form_row(form.title) }}
    {{ form_row(form.beginTc) }}
	{{ form_end(form) }}

</article>


<article class="col s4">
	<h2>Length</h2>

	<ul>
		<li>beginTc : {{number.beginTc}}</li>
		<li>endTc  : {{number.endTc}}</li>
		<li>length [ne peut être changé / calculé automatiquement]] : {{number.length}}</li>
		<li>begin : {{number.begin}}</li>
		<li>ending : {{number.ending}} </li>
		<li>Validation des timecode : [number.validationTc]</li>
		<li>Modifier -> faire un formulaire length</li>
		<li>Valider</li>
	</ul>

</article>


<article class="col s4">
	<h2>Backstage</h2>
	<ul>
		<li>spectators : {{number.spectators}}</li>
		<li>diegetic : {{number.diegetic}}</li>
		<li>musician : {{ number.musician}}</li>
	</ul>
</article>


<article class="col s4">
	<h2>Shots</h2>
	<ul>
		<li>Number of shots (INT 3) : {{number.shots}}</li>
	</ul>
</article>


<article class="col s4">
	<h2>Type</h2>
	<ul>
		<li>type (VAR 255) : {{number.type}}</li>
	</ul>
	
</article>


<article class="col s4">
<h2>Structure</h2>


{% if structuresNumber|length > 0 %}
	{% for structure in structuresNumber %}
		
	  		<p><a href="">{{structure.structure}}</a> ({{structure.validation}}) | <a href="">validate</a> (if super editor and validation = 0) | <a href="">change validation</a> (if ultimate editor and validation != 0)</p>
	{% endfor %}
{% else %}
	<p><i>No structure for this number</i> [exemple voir number/980] - <a href="/editor/number/{{number.numberId}}/structure/new">Add a structure</a></p>
{% endif %}
	<h3>Mode d'emploi</h3>
	<ul>
		<li>En cliquant on peut modifier la structure si on est éditeur (ou peut-être par défaut il y a un label) </li>
		<li>En cliquant sur validate on peut valider si on est super éditeur.</li>
		<li>En cliquant sur change validation, on peut revenir sur une validation (si elle a déjà été faite) à condition d'être ultimate.</li>
	</ul>
</article>

</div>

</section>
  

{% endblock %}