{% import _self as formMacros %}

{% macro printValidationDanceRow(validationForm) %}
    <div class="col s12 js-dance-validation-item">
        <a href="" class="js-remove-dance-validation right">
            <i class="material-icons black-text" >delete</i>
        </a>

        {{ form_errors(validationForm) }}
        {{ form_row(validationForm.title, {'label' : "title"}) }}

    </div>
{% endmacro %}


<div id="dance" class="row container main">

    <h3>Dance</h3>

    <div class="color-cartouche">
    {{form_row(numberForm.choregraphers, {
        label : "Choreographers"
    })}}
    {#{{ dump(numberForm.choregraphers.vars) }}#}
    <a href="{{ path('editorNewPerson') }}" target="_blank" title="Create a new person if not already in the database">add a person</a>
    <br><br><br>

    {{form_row(numberForm.dancemble, {
        "label" : "Dancing ensemble (from thesaurus) (multi) (mandatory)"
    })}}
    {{form_row(numberForm.dancingType, {
        "label" : "Dancing type (from thesaurus) (multi) (mandatory if danse ensemble != NA)"
    })}}
    {{form_row(numberForm.danceSubgenre, {
        "label" : "Dance subgenre (from thesaurus) (multi) (optional)"
    })}}
    {{form_row(numberForm.danceContent, {
        "label" : "Dance content (from thesaurus) (multi) (optional)"
    })}}

    {{ form_label(numberForm.commentDance, "Dance comment(s)") }}
    {{ form_widget(numberForm.commentDance, {
        'attr': {'class': 'materialize-textarea'}
    }) }}

    {{ form_widget(numberForm.completeDance) }}
    {{ form_label(numberForm.completeDance, "Completed?") }}
    {{ form_errors(numberForm.completeDance) }}

    {#{{form_row(numberForm.validationDance)}}#}
    </div>

    <div class="color-cartouche">

        {%  if validationDance is defined %}
            {% for item in validationDance  %}
                <div class="chip js-dance-validation-item">
                    {{  item.title }} by {{ item.user }}, {{ item.dateCreation|date() }}
                    <a href="" class="js-remove-dance-validation">
                        {#<i class="material-icons black-text" >delete</i>#}
                        <i class="close material-icons black-text">close</i>
                    </a>
                </div>
            {% endfor %}
        {% endif %}

        {% if is_granted('ROLE_EDITOR') %}

            <div class="row js-dance-validation-wrapper" data-prototype="{{ formMacros.printValidationDanceRow(numberForm.validationDance.vars.prototype)|e('html_attr') }}">

                <div class="col s12">
                    <a href="#" class="js-add-dance-validation valign-wrapper col s12">
                        <i class="material-icons black-text ">add</i>
                        Add a validation
                    </a>
                </div>
            </div>

            <div class="hide">
                {{ form_widget(numberForm.validationDance) }}
            </div>

        {% endif %}
    </div>
</div>