{% import _self as formMacros %}

{% macro printValidationShotsRow(validationForm) %}
    <div class="col s12 js-shots-validation-item">
        <a href="" class="js-remove-shots-validation right">
            <i class="material-icons black-text" >delete</i>
        </a>

        {{ form_errors(validationForm) }}
        {{ form_row(validationForm.title, {'label' : "title"}) }}

    </div>
{% endmacro %}

<div id="shots" class="row container main">

    {% if ( validationShots |length < 2 or is_granted('ROLE_EDITOR')) %}
    <article class="col s12">
    {% else %}
    <article class="col s12 hide">
    {% endif %}

    <h3>Shots</h3>

    <div class="color-cartouche">

        {{form_row(numberForm.shots, {
            'label' : "Number of shots"
        })}}
        {{ form_label(numberForm.commentShots, "Shots comment(s)") }}
        {{ form_widget(numberForm.commentShots, {
            'attr': {'class': 'materialize-textarea'}
        }) }}

        {{ form_widget(numberForm.completeShots) }}
        {{ form_label(numberForm.completeShots, "Completed?") }}
        {{ form_errors(numberForm.completeShots) }}
        {#{{form_row(numberForm.validationShots)}}#}

    </div>

    {% if is_granted('ROLE_EDITOR') %}

        <div class="color-cartouche">

            {%  if validationShots is defined %}
                {% for item in validationShots  %}
                    <div class="chip js-shots-validation-item">
                        {{  item.title }} by {{ item.user }}, {{ item.dateCreation|date() }}
                        <a href="" class="js-remove-shots-validation">
                            {#<i class="material-icons black-text" >delete</i>#}
                            <i class="close material-icons black-text">close</i>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}


            {%  if not create %}
            <div class="row js-shots-validation-wrapper" data-prototype="{{ formMacros.printValidationShotsRow(numberForm.validationShots.vars.prototype)|e('html_attr') }}">

                <div class="col s12">
                    <a href="#" class="js-add-shots-validation valign-wrapper col s12">
                        <i class="material-icons black-text ">add</i>
                        Add a validation
                    </a>
                </div>
            </div>

            <div class="hide">
                {{ form_widget(numberForm.validationShots) }}
            </div>
            {% endif %}

        </div>
    {% endif %}

    </article>

    {% if ( validationShots |length < 2 or is_granted('ROLE_EDITOR')) %}

    {% else %}
        {% include 'CmsBundle:Number:modal/_validationComplete.html.twig' %}
    {% endif %}
</div>


