{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/number.css')}}">
{% endblock %}

{% block body %}
    <div class="container" id="number">

        <div class="row ">
            <h1 class="center">{{ number.title }}({{ number.film }}){% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}<small> - <a href="{{ path('number_edit', {'numberId' : number.numberId}) }}">edit</a></small>{% endif %} </h1>
        </div>


        <div class="row">
            <section class="col s3">
                <h2 class="center">Outlines</h2>

                <p>Begin timecode : <span class="chip">{{ number.beginTc }}</span></p>
                <p>End timecode :  <span class="chip">{{ number.EndTc }}</span></p>
                <p>Begin :  <span class="chip">{{ number.begin }}</span></p>
                <p>Ending :  <span class="chip">{{ number.ending }}</span></p>
                <p>Begin (from thesaurus) :  <span class="chip">{{ number.beginThesaurus  }}</span></p>
                <p>Ending (from thesaurus) :  <span class="chip">{{ number.endingThesaurus  }}</span></p>
                <p>Comments : {{ number.commentTc }}</p>
                <p>Completeness (from thesaurus): <span class="chip">{{ number.completenessThesaurus }}</span></p>
                <p>Completeness Options (from thesaurus): {% for completoption in number.completoptions %}<span class="chip">{{ completoption }}</span>{% endfor %}</p>
                <p>Completed : {% if number.completeTc %}<span><i class="material-icons small green-text">done</i></span>{% endif %}</p>
                <p>Validation :<span class="chip"></span></p>
            </section>

            <section class="col s3">
                <h2 class="center">Structure</h2>
                <p>Structure (from thesaurus) : <span class="chip">{{ number.structure }}</span></p>
                <p>Comment : <span>{{ number.commentStructure }}</span></p>
                <p>Completed : {% if number.completeStructure %}<span><i class="material-icons small green-text">done</i></span>{% endif %}</p>
                <p>Validation : <span class="chip"></span></p>
            </section>

            <section class="col s3">
                <h2 class="center">Shots</h2>
                <p>Shots : <span class="chip">{{ number.shots }}</span></p>
                <p>Completed : {% if number.completeShots %}<span><i class="material-icons small green-text">done</i></span>{% endif %}</p>
                <p>Validation :<span class="chip"></span></p>
            </section>

            <section class="col s3">
                <h2 class="center">Performers</h2>
                <p>Performance type :<span class="chip">{{ number.performance }}</span> </p>
                <p>Performance (from thesaurus) : <span class="chip">{{ number.performanceThesaurus }}</span></p>
                <p>Performers : {% for person in number.performers %} <span class="chip">{{ person }}</span>{% endfor %}</span></p>
                <p>Stars who don't participate : {% for person in number.figurants %} <span class="chip">{{ person }}</span>{% endfor %}</span></p>
                <p>Completed : {% if number.validationPerformance %}<span><i class="material-icons small green-text">done</i></span>{% endif %}</p>
                <p>Validation :<span class="chip"></span></p>
            </section>
        </div>

        <div class="row">

            <section class="col s3">
                <h2 class="center">Backstage</h2>
                <p>Spectators : <span class="chip">{{ number.spectators }}</span></p>
                <p>Spectators (from thesaurus) : <span class="chip">{{ number.spectatorsThesaurus }}</span></p>
                <p>Diegetic performance ? (from thesaurus) : <span class="chip">{{ number.diegeticThesaurus }}</span></p>
                <p>Visible musicians (from thesaurus) : <span class="chip">{{ number.musicianThesaurus }}</span></p>
                <p>Integration (from thesaurus) : <span class="chip">{{ number.integrationThesaurus }}</span></p>
                <p>Integration Options (from thesaurus) : {% for integration in number.integoptions %} <span class="chip">{{ integration }}</span>{% endfor %}</p>
                <p>Completed : {% if number.completeBackstage %}<span><i class="material-icons small green-text">done</i></span>{% endif %}</p>
                <p>Validation :<span class="chip"></span></p>
            </section>

            <section class="col s3">
                <h2 class="center">Themes</h2>
                <p>Costumes (from thesaurus) : {% for costume in number.costumes %} <span class="chip">{{ costume }}</span>{% endfor %}</p>
                <p>Ethinc stereotypes (from thesaurus) : {% for stereotype in number.stereotype %} <span class="chip">{{ stereotype }}</span>{% endfor %}</p>
                <p>Diegetic place (from thesarus) : {% for place in  number.diegeticPlaceThesaurus %}<span class="chip">{{ place }}</span>{% endfor %}</p>
                <p>General localisation (from thesaurus) : {% for place in  number.generalLocalisation %}</p><span class="chip">{{ place }}</span>{% endfor %}</p>
                <p>Imaginary place (from thesaurus) : <span class="chip">{% for imagination in number.imaginary %}{{ imagination }}{% endfor %} </span></p>
                <p>Exoticism (from thesaurus) : {% for exoticism in number.exoticismThesaurus%} <span class="chip">{{ exoticism }}</span>{% endfor %}</p>
                <p>Completed : {% if number.completeTheme %}<span><i class="material-icons small green-text">done</i></span>{% endif %}</p>
                <p>Validation :<span class="chip"></span></p>
            </section>

            <section class="col s3">
                <h2>Tone</h2>
                <p>Tone (from thesaurus : {% for mood in number.generalMood %}<span class="chip">{{ mood.title }}</span>{% endfor %}</p>
                <p>Genre (from thesaurus) : {% for mood in number.genre %} <span class="chip">{{ mood.title }}</span>{% endfor %}</p>
                <p>Comment : {{ number.commentMood }}</p>
                <p>Completed : {% if number.completeMood %}<span><i class="material-icons small green-text">done</i></span>{% endif %}</p>
                <p>Validation :<span class="chip"></span></p>
            </section>

            <section class="col s3">
                <h2>Dance</h2>
                <p>Choregraphers : {% for person in number.choregraphers %} <span class="chip">{{ person }}</span>{% endfor %}</span></p>
                <p>Dance Ensemble (from thesaurus)  : {% for item in number.dancemble %} <span class="chip">{{ item }}</span>{% endfor %}</p>
                <!-- vérifier dancing type -->
                <p>Dancing type (from dancing) :{% for item in number.dancing %}<span class="chip">{{ item.title }}</span>{% endfor %}</p>
                <p>Dancing type (from thesaurus): {% for item in number.dancingtype %}<span class="chip">{{ item.title }}</span>{% endfor %}</p>
                <p>Dance subgenre (from thesaurus): {% for item in number.dancesubgenre %}<span class="chip">{{ item.title }}</span>{% endfor %} </p>
                <p>Dance content (from thesaurus): {% for item in number.dancecontent %}<span class="chip">{{ item.title }}</span>{% endfor %} </p>
                <p>Completed :<span class="chip"></span></p>
                <p>Validation :<span class="chip"></span></p>
            </section>
        </div>

        <div class="row">
            <section class="col s6">
                <h2>Music</h2>
                <p>Song : {% for song in number.song %} <span class="chip">{{ song }}</span>{% endfor %}</span></p>
                <p>Music ensemble (from thesaurus) : {% for item in number.musensemble %} <span class="chip">{{ item }}</span>{% endfor %}</p>
                <p>Dubbing : <span class="chip">{{ number.dubbing }}</span></p>
                <p>Tempo  (from thesaurus) : <span class="chip">{{ number.tempoThesaurus }}</span></p>
                <!-- dernier import à faire -->
                <p>Muscical style : à rechercher + importer from csv [en cours]</p>
                <p>Musical style (from thesaurus) : {% for item in number.musicalThesaurus %}<span class="chip">{{ item.title }}</span>{% endfor %}</p>
                <p>Arrangers :  {% for person in number.arrangers %} <span class="chip">{{ person }}</span>{% endfor %}</span> </p>
                <p>Arranger comment : <span>{{ number.arrangerComment }}</span></p>
                <p>Lyrics : <span>{{ number.lyrics }}</span></p>
                <p>Completed :<span class="chip"></span></p>
                <p>Validation :<span class="chip"></span></p>
            </section>

            <section class="col s6">
                <h2>Complement</h2>
                <p>Director : {% for person in number.director %} <span class="chip">{{ person }}</span>{% endfor %}</p>
                <p>Cost : <span>{{ number.cost }}</span></p>
                <p>Cost Comment : <span>{{ number.costComment }}</span></p>
                <p>Completed :<span class="chip"></span></p>
                <p>Validation :<span class="chip"></span></p>
            </section>
        </div>
    </div>
{% endblock %}