
<div class="row">


    <div class="col s12">

        <div class="color-cartouche">

            {{ form_widget(edit_form.username) }}
            {{ form_label(edit_form.username) }}
            {{ form_errors(edit_form.username) }}

            {{ form_widget(edit_form.roles) }}
            {{ form_label(edit_form.roles) }}
            {{ form_errors(edit_form.roles) }}

            {#{{ form_widget(edit_form.enabled) }}#}
            {#{{ form_label(edit_form.enabled) }}#}
            {#{{ form_errors(edit_form.enabled) }}#}

        </div>
    </div>

</div>
