{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .menu li{
            padding-left: 15px;
            cursor:pointer;
        }
    </style>
{% endblock %}

{% block body %}

<div class="container-fluid row">

    <section class="col s3 menu">
        <h3>Navigation</h3>
        <li >Title {% if number.completeTitle %}<i class="material-icons tiny green-text">done</i>{% endif %}</li>
        <li>Outlines {% if number.completeTc %}<i class="material-icons tiny green-text">done</i>{% endif %}</li>
        <li>Structure {% if number.completeStructure %}<i class="material-icons tiny green-text">done</i>{% endif %}</li>
        <li>Shots {% if number.completeShots %}<i class="material-icons tiny green-text">done</i>{% endif %}</li>
        <li>Performers {% if number.completePerformance %}<i class="material-icons tiny green-text">done</i>{% endif %}</li>
        <li>Backstage & integration {% if number.completeBackstage %}<i class="material-icons tiny green-text">done</i>{% endif %}</li>
        <li>Themes {% if number.completeTheme %}<i class="material-icons tiny green-text">done</i>{% endif %}</li>
        <li>Tone {% if number.completeMood %}<i class="material-icons tiny green-text">done</i>{% endif %}</li>
        <li>Dance {% if number.completeDance %}<i class="material-icons tiny green-text">done</i>{% endif %}</li>
        <li>Music {% if number.completeMusic %}<i class="material-icons tiny green-text">done</i>{% endif %}</li>
        <li>Intertextuality / References {% if number.completeReference %}<i class="material-icons tiny green-text">done</i>{% endif %}</li>
        <li>Complement {% if number.completeCost %}<i class="material-icons tiny green-text">done</i>{% endif %}</li>

    </section>

    <section class="col s8">

        <h1>{{number.title}}</h1>

        {{ form_start(numberForm)}}

        {{ include('editor/number/_form.html.twig')}}

        <button class="btn black" type="submit" formnovalidate>Save</button>
        <button class="btn black" type="submit" formnovalidate>Save & Exit</button>

        {{ form_end(numberForm)}}
    </section>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/timecode.js') }}"></script>
    <script>
        //		$(".menu li:not(.active)").hide();

        $(".menu li").click(function(){
            $(".menu li").removeClass("active");
            $(this).addClass("active");

            var nbItem = $(this ).index();
            $(".cartouche").hide();
            $("form .cartouche:nth-child("+nbItem+")").fadeIn();
        });

    </script>

{% endblock %}