{% extends "base.html.twig" %}

{% block body %}

    <section class="container">
        <h1>Censorship</h1>

        <h2>Films by Studio</h2>
        {% for item in studios  %}
            <p>{{ item.studio }}({{ item.nb }})</p>
        {% endfor %}

        <h2>Legion</h2>
        {% for item in legion  %}
            <p>{{ item.legion }}({{ item.nb }})</p>
        {% endfor %}

        <h2>Harrison</h2>
        <p>(pb avec l'import, doublons de protestant)</p>
        {% for item in harrison  %}
            <p>{{ item.harrison }}({{ item.nb }})</p>
        {% endfor %}

        <h2>Protestant</h2>
        {% for item in protestant  %}
            <p>{{ item.protestant }}({{ item.nb }})</p>
        {% endfor %}

        <h2>Board</h2>
        {% for item in board  %}
            <p>{{ item.board }}({{ item.nb }})</p>
        {% endfor %}

        <h2>Verdict</h2>
        {% for item in verdict  %}
            <p>{{ item.verdict }}({{ item.nb }})</p>
        {% endfor %}

    </section>

{% endblock %}