{% extends 'base.html.twig' %}


{% block body %}

    <section class="container">

    <h2>Structure for <i>{{number.title}}</i>  ({{number.film.title}})</h2>

    <article>
    <p>Choose a structure for one specific number</p>

    <form action="#">
        <select name="structures" id="structures">
        {% for structure in structures %}
            <option value="{{structure.title}}">{{structure.title}}</option>
        {% endfor %}
        </select>
    </form>
    </article>


    <article>
        <h3>Validation</h3>
        <p>Validate the data (for administrator editor)</p>
    </article>

    <article>
        <h3>Manage thesaurus</h3>
    <p>Change thesaurus (for ultimate editor)</p>


{#     {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('editor') }}">Back to the editor</a>
        </li>
    </ul> #}
    </article>

    </section>
{% endblock %}


