{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>State edit</h1>

        {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input type="submit" class="btn black" value="Edit" />
        {{ form_end(edit_form) }}

        <ul>
            <li>
                <a href="{{ path('admin_state_index') }}">Back to the list</a>
            </li>
        </ul>

        <div class="right">
            {{ form_start(delete_form) }}
            <input type="submit" class="btn red right" value="Delete">
            {{ form_end(delete_form) }}
        </div>

        <br><br>
    </div>
{% endblock %}
