{% extends 'base.html.twig' %}

{% block body %}

    <section class="container">

        <header>
            <h1 class="center">Dance</h1>
        </header>

        <article>
            <h2>Danced number</h2>
            <p>Number of danced numbered : <span class="number">{{ numberDancedNumber.nb }}</span> or {{ numberDancedNumber2.nb }}</p>
            <p>Number of films with danced numbered : <span class="number">{{ nbfilmsWithDancedNumber.nb }}</span></p>
            <p>Average shots length for year : {% for item in avgNbShots %}<li>{{ item.released }} : {{ item.nb }}</li>{% endfor %}</p>
        </article>

        <article class="card row">
            <div class=" col s12">
                <p><span class="number">{{ dancing|length }}</span> different dancing types, <span class="number">{{ subgenre|length }}</span> dance sub-genre and <span class="number">{{ content|length }}</span> dance content exist.</p>
            </div>
        </article>

        <article class="">
            <h2>Dancing type</h2>
            {% for item in dancing  %}
                {{ item.title }}
            {% endfor %}
        </article>

        <article>
            <h2>Number of dancing type</h2>
            <div id="chart_div"></div>
        </article>


        <article>
            <h2>Dance subgenre</h2>
            {% for item in subgenre  %}
                {{ item.title }}
            {% endfor %}
        </article>

        <article>
            <h2>Number of dance subgenre</h2>
            <div id="chart_div2"></div>
        </article>

        <article>
            <h2>Dance content</h2>
            {% for item in content  %}
                <div class="chip"><a href="{{ path('getOneDancing', {'id' : item.thesaurusId}) }}">{{ item.title }}</a></div>
            {% endfor %}
        </article>

        <article>
            <h2>Number of dance content</h2>
            <div id="chart_div3"></div>
        </article>

    </section>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Name', 'Occurences'],
                {% for item in populardancing %}
                ['{{ item.title }}', {{ item.nb }}],
                {% endfor %}
            ]);

            var options = {
                title: 'Number of dance',
                legend: { position: 'none' },
            };
            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
            chart.draw(data, options);

            var data2 = google.visualization.arrayToDataTable([
                ['Name', 'Occurences'],
                {% for item in popularsubgenre %}
                ['{{ item.title }}', {{ item.nb }}],
                {% endfor %}
            ]);

            var options = {
                title: 'Number of dance',
                legend: { position: 'none' },
            };
            var chart2 = new google.visualization.ColumnChart(document.getElementById('chart_div2'));
            chart2.draw(data2, options);

            var data3 = google.visualization.arrayToDataTable([
                ['Name', 'Occurences'],
                {% for item in popularcontent %}
                ['{{ item.title }}', {{ item.nb }}],
                {% endfor %}
            ]);

            var options = {
                title: 'Number of dance',
                legend: { position: 'none' },
            };
            var chart3 = new google.visualization.ColumnChart(document.getElementById('chart_div3'));
            chart3.draw(data3, options);

        }
    </script>

{% endblock %}