{% extends 'base.html.twig' %}

{% block body %}

<section class="container" id="exoticism">

    <header>
        <h1 class="center">Exoticism</h1>
        <h1 class="center"><i>Exotisme</i></h1>

        <p>This page aims at establishing a classification of the exotic stereotypes in musical numbers. A single number may combine several types of exoticism (through the use of specific musical or dancing styles, costumes, lyrics, settings...). </p>
        <p class="center">***</p>
        <p><i>cette page propose un repérage des stéréotypes exotiques des numéros musicaux. Un numéro peut renvoyer à plusieurs formes d'exotisme (styles de danse ou de musique spécifiques, paroles de chanson, costumes, décors...).</i></p>
    </header>


    <article class="card card_thematique row" style="overflow: hidden">

        <div class=" col s12 row">
            <p class="col m4 center">Exoticism Types: <span class="number">{{ exoticism|length - 1 }}</span></p>
            <p class="col m4 center">Used Types : <span class="number">{{ total.nb }}</span></p>
            <p class="col m4 center">Production Numbers : <span class="number">{{ totalNumber.nb }}</span></p>
        </div>


        <article>

            {#<div class='wordcloud col s12 row' id='wordcloud_exotism' style="height: 300px"></div>#}

            {% for item in popularexoticismCartouche %}
                <a href="{{ path('getOneExoticism', { 'item' : item.title }) }}" class="chip">{{ item.title }} ({{ item.nb }})</a>
            {% endfor %}

        </article>


        <article class="row">

            <div id="chart_div" class="col s6" style=" height: 500px;"></div>
            <div style="transform: translate(0px,40px);" id="div_donut" class="col s6" style="height: 400px">
                <p style="font-weight: bold; padding-left: 100px;">Share of exoticism</p>
                <svg style="height: 450px;"></svg>
            </div>
        </article>


    </article>

    <article>
        <p>Note : Most useful categories in the database for a specific research on the exoticism in musical numbers : <a href="{{ path('thesaurus', { 'type' : "cast" }) }}">Cast</a>, <a href="{{ path('thesaurus', { 'type' : "Ethnic stereotypes" }) }}">Ethnic Stereotype</a>, <a href="{{ path('thesaurus', { 'type' : "diegetic place" }) }}">Diegetic Place</a>, <a href="{{ path('thesaurus', { 'type' : "imaginary place" }) }}">Imaginary Place</a>, <a href="{{ path('thesaurus', { 'type' : "costumes" }) }}">Costumes</a>, <a href="{{ path('thesaurus', { 'type' : "Dance" }) }}">Dancing Type</a>, <a href="{{ path('thesaurus', { 'type' : "Dance" }) }}">Dance Subgenre</a>, <a href="{{ path('thesaurus', { 'type' : "Dance" }) }}">Dance Content</a>, <a href="{{ path('thesaurus', { 'type' : "Musical styles" }) }}">Musical Style</a>.</p>
    </article>



    {#<article>#}

        {#by decade?#}
    {#</article>#}

</section>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{{ asset('js/donut_simple.js') }}"></script>
    <script type="text/javascript">
        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Name', 'Occurences'],
                    {% for item in popularexoticism %}
                        ['{{ item.title }}' , {{ item.nb }}],
                    {% endfor %}
                ]);

            var options = {
                title: 'Production Numbers per Exoticism',
                legend: { position: 'none' }
            };
            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
            chart.draw(data, options);


//            var options = {
//                title: 'Share of Exoticisms',
//                pieHole: 0.4
//            };
//
//
//            var chart2 = new google.visualization.PieChart(document.getElementById('chart_div2'));
//            chart2.draw(data, options);
        }
    </script>


    <script>

        donut_simple_avec_legende("div_donut svg", {{ popularexoticismJson.content|raw }});



        {#window.onload=function()   {  donut_simple_avec_legende("div_donut svg", {{ popularexoticismJson.content|raw }});#}

        {#};#}
        {#$( window ).on("load", function() {#}

                {#document.getElementsByClassName("nv-series")[0].click();#}
            {#});#}
    </script>

    <script>

        function decodeHtml(text) {
            console.log(text);
            return text
                .replace(/&amp;/g, "&")
                .replace(/&quot;/g, "\"")
                .replace(/&#039;/g, "\'")
                .replace(/%20/g, " ")
                .replace(/%22/g, "\"");
        }

    </script>

    <script>

        words_exotism = [{% for item in popularexoticism  %}{ text : decodeHtml("{{ item.title }}"), weight : {{ item.nb }}, link : decodeHtml("{{ path('getOneExoticism', { 'item' : item.title }) }}")  } {% if loop.last %}{% else %},{% endif %}{% endfor %}];
        $('#wordcloud_exotism').jQCloud(words_exotism);
        $('#wordcloud_exotism').jQCloud('update', words_exotism, {
            fontSize: {
                colors: ["#800026", "#bd0026", "#e31a1c", "#fc4e2a", "#fd8d3c", "#feb24c", "#fed976", "#ffeda0", "#ffffcc"],
                from: 0.1,
                to: 0.05
            }
        });

        {#{% for item in popularexoticism %}#}
        {#<a href="{{ path('getOneExoticism', { 'item' : item.title }) }}" class="chip">{{ item.title }} ({{ item.nb }})</a>#}
        {#{% endfor %}#}

    </script>

{% endblock %}