{% extends 'base.html.twig' %}

{%  block stylesheets %}
    {{ parent() }}
    <style>
        .card{
            height: 100px;
        }

        .list_film, .list_number {
            color: #039be5;
            cursor: pointer; cursor: hand;
        }
    </style>
{% endblock %}

{% block body %}

    <section class="container">
        <h1>Mood : {% for item in mood %}{{ item.title }}{% endfor %}</h1>
        <p style="font-size: 18px;"><i>{% for item in mood %}{{ item.definition }}{% endfor %}</i></p>

        {#<article>#}
            {#<h2>List of movies with {% for item in mood %}{{ item.title }}{% endfor %} mood</h2>#}

            {#<div class="liste row">#}
                {#{% for film in films  %}#}
                    {#<div class="card horizontal col s4 ">#}
                        {#{% if film.imdb %}#}
                        {#<img src="http://img.omdbapi.com/?i={{ film.imdb }}&apikey=1733f6a&h=100" alt="poster">#}
                        {#{% endif %}#}
                        {#<a href="{{ path('film', {'filmId' : film.filmId}) }}"><h3>{{ film.filmTitle }} ({{  film.nb }})</h3></a>#}
                    {#</div>#}
                {#{% endfor %}#}
            {#</div>#}
        {#</article>#}

        {#<article>#}
            {#<div id="chart_div"></div>#}

        {#</article>#}

        <article>
            <h2>List of numbers with {% for item in mood %}{{ item.title }}{% endfor %} mood</h2>

            <div id="table_one_mood" class="row">
                <input class="search" placeholder="Search" />
                <table class="striped medium-table">
                    <thead>
                    <tr>
                        <th onclick="sortPerso(this, 'list_number')" data-cpt="0">Number</th>
                        <th onclick="sortPerso(this, 'list_film')" data-cpt="0">Film</th>
                        <th onclick="sortPerso(this, 'list_release_date')" data-cpt="0">Release Date</th>
                        <th onclick="sortPerso(this, 'list_studio')" data-cpt="0">Studio</th>
                    </tr>
                    </thead>
                    <tbody class="list">
                    {% for number in numbers  %}
                        <tr>
                            <td onclick="window.location.href='{{ path('number', {'id' : number.id}) }}';" class="list_number">{{ number.title }}</td>
                            <td onclick="window.location.href='{{ path('film', {'filmId' : number.film.filmId}) }}';" class="list_film">{{ number.film.title }}</td>
                            <td class="list_release_date">{{ number.film.released }}</td>
                            <td class="list_studio">
                                {% for studio in number.film.studios %}
                                    {{ studio.title }}{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <ul class="pagination"></ul>
            </div>
        </article>

        <div id="div_donut" class="col s12 row" style=" height: 400px;">
            <svg></svg>
        </div>

    </section>

{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('assets/vendor/list.js/docs/assets/javascripts/list.min.js') }}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{{ asset('js/donut_simple.js') }}"></script>


    <script>

    {% if numbers|length < 16 %}

        var options = {
        valueNames: ['list_number', 'list_film', 'list_release_date', 'list_studio']
        };

    {% endif %}


    {% if numbers|length > 15 %}

        var options = {
        valueNames: ['list_number', 'list_film', 'list_release_date', 'list_studio'],
        page: 15,
        pagination: true
        };

    {% endif %}

    var numberList = new List('table_one_mood', options);

    {#google.charts.load("current", {packages:["corechart"]});#}
    {#google.charts.setOnLoadCallback(drawChart);#}

    {#function drawChart() {#}

        {#var data = google.visualization.arrayToDataTable([#}
            {#['Name', 'Occurences'],#}
            {#{% for item in sources %}#}
            {#['{{ item.label }}', {{ item.value }}],#}
            {#{% endfor %}#}
        {#]);#}

        {#var options = {#}
            {#title: 'Sources of {% for item in mood %}{{ item.title }}{% endfor %} numbers',#}
            {#pieHole: 0.4#}
        {#};#}

        {#var chart = new google.visualization.PieChart(document.getElementById('div_donut'));#}
        {#chart.draw(data, options);#}
    {#}#}

    </script>

    <script>
        function sortPerso(element, col) {

            if (element.dataset.cpt%2 == 0) {
                numberList.sort(col, {order : "asc"});
                element.dataset.cpt++;
            } else {
                numberList.sort(col, {order : "desc"});
                element.dataset.cpt++;
            }
        }
    </script>


    <script>
        donut_simple_avec_legende("div_donut svg", {{ sources.content|raw }});
    </script>
    {#<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>#}
    {#<script type="text/javascript">#}
        {#google.charts.load("current", {packages:["corechart"]});#}
        {#google.charts.setOnLoadCallback(drawChart);#}
        {#function drawChart() {#}
            {#var data = google.visualization.arrayToDataTable([#}
                {#['Name', 'Occurences'],#}
                {#{% for item in exoticismByYear  %}#}
                {#['{{ item.released }}' , {{ item.nb }}],#}
                {#{% endfor %}#}
            {#]);#}

            {#var options = {#}
                {#title: 'Number of exoticism by year',#}
                {#legend: { position: 'none' },#}
            {#};#}
            {#var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));#}
            {#chart.draw(data, options);#}

        {#}#}
    {#</script>#}

{% endblock %}