{% extends "base.html.twig" %}

{% block javascripts %}

    {{ parent() }}

    <style>

        h5{
            font-size: 0.9em;
            padding-left: 1em;
        }

        .card{
            padding: 30px;
        }
    </style>
{% endblock %}

{% block body %}
<section class="container">
    <h1 class="center uppercase">Presentation of the web application and perspectives with the V0.3 release</h1>


    <!-- search -->
    <div class="card">

    <h2>Search</h2>

    <p>From homepage : <a href="{{ path('homepage') }}">link</a></p>
        <ul class="browser-default">
            <li>Film</li>
            <li>Number</li>
            <li>Person</li>
            <li>Song</li>
        </ul>
    </div>

    <!-- Film -->
    <div class="card">

    <h2>Film</h2>

    <ul class="browser-default">
        <li>Page Film (in progress / new stats) : <a href="http://127.0.0.1:8000/film/id/3839">example</a></li>
    </ul>
    </div>

    <!-- Number-->
    <div class="card">

    <h2>Number</h2>
    
    <ul class="browser-default">
        {#<li>All numbers (in progress)</li>#}
        <li>Page view (work in progress)</li>
        <li>Edit a number (editor)</li>
    </ul>
    </div>

    <!-- Person -->
    <div class="card">

        <h2>Person</h2>

        <ul>
            <li>A simple page for a person (in progress) : <a href="http://127.0.0.1:8000/person/652">example</a></li>
        </ul>

    </div>

    <!-- Thesaurus -->
    <div class="card">

        <h2>Thesaurus</h2>

        <ul>
            <li>A simple page for a person (in progress) : <a href="http://127.0.0.1:8000/thesaurus/1">example</a></li>
        </ul>

    </div>
    
    <!-- Films with numbers -->
    <div class="card">
    <h2>Films with numbers</h2>
    <p>From homepage : <a href="{{ path('homepage') }}">link</a></p>
    <ul class="browser-default">
        <li>Movie's page link</li></li>
        <li>Show more button</li>
    </ul>
    </div>

    <!-- Stats -->
    <div class="card">

    <h2>Stats [to do]</h2>


    <p>From stats : <a href="{{ path('stats') }}">link</a></p>
    </div>

    <!-- Documentation -->
    <div class="card">

    <h2 >Editorialisation and documentation</h2>
    <p>From homepage : <a href="{{ path('homepage') }}">link</a></p>
    
    <ul class="browser-default">
        <li><a href="{{ path("howto") }}">how to</a></li>
        <li><a href="{{ path("news") }}">news</a></li>
        <li><a href="{{ path("about") }}">about</a></li>
    </ul>
    </div>

    <!-- Themes -->
    <div class="card">

    <h2>Themes</h2>

    <p>From homepage : <a href="{{ path('homepage') }}">link</a></p>

    <ul class="browser-default">
        <li>Show cards, effect and sticky-action.</li>
    </ul>

    <div class="card">

        <h3>Censorship</h3>

        <ul class="browser-default">
            <li><a href="http://127.0.0.1:8000/censorship">Page censorship</a></li>
        </ul>

        <h4>PCA Verdicts</h4>
        <ul class="browser-default">
            <li>Exemple of one PCA verdict (comparaison between the donuts) : <a href="http://127.0.0.1:8000/scenario/censorship/verdict/acceptable">example</a></li>
        </ul>

        <h4>Legion Decency</h4>

        <ul class="browser-default">
            <li>Studios, dance contents, stereotypes, etc. : <a href="http://127.0.0.1:8000/censorship/legion/B">example</a></li>
        </ul>

        <h5>A dance content for censorship grade</h5>

        <ul class="browser-default">
            <li>Mixing a dance content with a censorship grade, example : <a href="http://127.0.0.1:8000/censorship/legion/B/dance/417">exotic</a>
            <li>Give the list of all the numbers and films mixing a specific censorship grade and a specific kind of dance content</li>
        </ul>

        <h5>A year for a censorship grade</h5>

        <ul class="browser-default">
            <li>All the movies with a censorhip grade for a year,example : <a href="http://127.0.0.1:8000/censorship/legion/B/1938">1938 for B</a></li>
        </ul>

    </div>

    <div class="card">
        <h3>Mood and Exoticism</h3>
        <ul class="browser-default">
            <li><a href="{{ path("getExoticism") }}">exoticism pages</a></li>
            <li><a href="{{ path("getMood") }}">mood pages</a></li>
        </ul>

        <h4>Moods</h4>

    <ul class="browser-default">
        <li>Genral mood : <a href="http://127.0.0.1:8000/mood/General/271">example</a></li>
        <li>Genre : <a href="http://127.0.0.1:8000/mood/genre/231">example</a> </li>
    </ul>
    </div>

    <div class="card">

    <h3>Dance (transition for Marion)</h3>

    <p>Transition for Marion</p>
    </div>
</section>
{% endblock %}